<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 

<body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                    <br>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <td>Nit</td>
                                    <td>Nombre</td>
                                </tr>
                            </thead>    
                            <tbody>
                                {% for i in empresas %}
                                <tr>
                                    <td>{{i.nit}}</td>
                                    <td>{{i.nom_emp}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
</body>
</html>

